{% extends 'base.html' %} {% block title %} About {% endblock %} 
{% block body_class %}background{% endblock %}
{% block content %}
<h1 style="color: black;text-align:center;margin:20px;">About Danke Blog</h1>

<p style="color:#6495ED;font-size:25px;margin:15px" >
    Welcome to Danke Blog, your daily source for important current affairs. We focus on providing concise, accurate, and timely updates on the most significant news and events happening around the world. From politics and economics to science and technology, we cover a wide range of topics to keep you informed and engaged.
    
   </p>

<h3 style="text-align:center"> Stay updated with Danke Blog!</h3>
{% endblock %}
