{% extends 'base.html' %}

{% block title %}Blog List{% endblock %}
{% block body_class %}background{% endblock %}
{% block content %}
<h1>Blog List</h1>

<ul class="list-group">
   
    {% for blog in blogs %}
    <li class="list-group-item">
        <a href="{% url 'blogdetail' pk=blog.pk %}">{{ blog.b_title }}</a>
        <p>{{ blog.b_title|truncatewords:30 }}</p>
        <a href="{% url 'blogupdate' pk=blog.pk %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'blogdelete' pk=blog.pk %}" class="btn btn-danger">Delete</a>
    </li>
    {% endfor %}
    <br>
    <a href="{% url 'blogcreate' %}"  class="btn btn-primary ">Create new blog</a>
</ul>

{% endblock %}
